/* Exercici 1 - GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sriracha';
    src: url(/Sriracha/Sriracha-Regular.ttf);
}

body {
    font-size: 12px;
    background-color: #485460;
    font-family: 'Sriracha';
    width: 100%;
}

/* Exercici 2 - LOGO */
@font-face {
    font-family: 'Piedra';
    src: url(../../Piedra/Piedra-Regular.ttf);
}

header > div.row > h1.col-12 {
    font-family: 'Piedra';
    color: #d50000;
    text-shadow: 10px 20px 30px white;
    text-align: right;
    margin-right: 20px;
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.5em;
}

/* Exercici 4 - MENÚ */
header > div.row > nav.col-12 {
    background: radial-gradient(circle, white, rgb(121,9,9)35%);
}
header > div.row > nav.col-12 ul {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
header > div.row > nav ul ul {
    display: none;
    position: absolute; 
    top: 4px;
}
header > div.row > nav li {
    display:inline-block;
    margin: 0;
    position: relative;
}
header > div.row > nav a {
    display:inline-block;
    text-decoration: none;
}
header > div.row > nav ul li:hover > ul {
    display:inherit;
}
header > div.row > nav.col-12 ul li a {
    font-family: 'Piedra';
    margin: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px 5px;
}
header > div.row > nav.col-12 ul li:hover {
    background-color: #ff5131;
}
header > div.row > nav.col-12 li:hover > ul {
    display: block;
}
header > div.row > nav.col-12 a + ul {
    display: none;
}
header > div.row > nav.col-12 li:hover > a {
    text-decoration: none;
}
header > div.row > nav.col-12 a + ul > li {
    display: block;
}
header > div.row > nav.col-12 ul li:nth-child(2) ul:nth-child(2) {
    margin-top: 28px;
    background-color: rgb(121,9,9);
}
header > div.row > nav.col-12 ul li:nth-child(2) ul:nth-child(2) li a {
    padding: 12px 5px;
    text-decoration: none;
}

/* Exercici 5 - SIDEBAR */
main > div.row {
    display: grid;
    grid-template-columns: 450px auto auto;
}
main > div.row > aside.col-3 {
    grid-column: 1 / 2;
    background-color: rgb(121,9,9);
    padding: 30px;
}
main > div.row > aside.col-3 > section {
    border: 5px solid;
    border-style: dashed;
    border-color: #7f8c8d;
    margin-bottom: 20px;
}
main > div.row > aside.col-3 > section > div > div {
    font-family: 'Piedra';
    color: white;
    
    display: flex;
    align-items: center;
    padding-left: 28px;
}

main > div.row > aside.col-3 > section:nth-child(1) > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 250px;
}
main > div.row > aside.col-3 > section:nth-child(2) > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 250px;
}
main > div.row > aside.col-3 > section:nth-child(3) > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 170px;
}
main > div.row > aside.col-3 > section:nth-child(4) > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    height: 170px;
}
main > div.row > aside.col-3 > section:nth-child(5) > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    height: 170px;
}

main > div.row > aside.col-3 > section > div > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(../img/gallery/ca1.jpg);
    background-size: cover;
    background-position: center;
}
main > div.row > aside.col-3 > section > div > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(../img/gallery/ca2.jpg);
    background-size: cover;
    background-position: center;
}
main > div.row > aside.col-3 > section > div > div:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-image: url(../img/gallery/ca3.jpg);
    background-size: cover;
    background-position: center;
}
main > div.row > aside.col-3 > section > div > div:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-image: url(../img/gallery/ca4.jpg);
    background-size: cover;
    background-position: center;
}
main > div.row > aside.col-3 > section > div > div:nth-child(5) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-image: url(../img/gallery/ca4.jpg);
    background-size: cover;
    background-position: center;
}

/* Exercici 6 - CONTAINER */ /*FLEX*/
main > div.row > section#container > div#gallery {
    background-color: #9b0000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;

    display: flex;
    flex-wrap: wrap;
}

main > div.row > section#container > div#gallery > article > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

main > div.row > section#container > div#gallery > article > h3 {
    display: none;
}
main > div.row > section#container > div#gallery > article > img {
    width: 680px;
    height: 580px;
}

@keyframes vuelta {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
    }
}
main > div.row > section#container > div#gallery > article {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: vuelta 5s linear infinite;
}

/* Exercici 7 - INFINITE DOG */
main > div.col-12 {
    height: 400px;
    background-image: url(../img/animation/long-dachshund-dog-cartoon-vector-1116614.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 1s ease-in-out;

}
main > div.col-12:hover {
    transform: scaleX(-1)
}

/* Exercici 3 - LAYOUT RESPONSIVE */
@media only screen and (max-width: 680px){

    
    

/*EJERCICIO 6*/
    main > div.row > section#container > div#gallery {
        background-color: #9b0000;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
    
        display: flex;
        flex-wrap: wrap;
    }
    main > div.row > section#container > div#gallery > article > img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    main > div.row > section#container > div#gallery > article:nth-child(3) > img {
        width: 200px;height: 220px;
    }
    main > div.row > section#container > div#gallery > article:nth-child(4) > img {
        width: 200px;height: 220px;
    }
    main > div.row > section#container > div#gallery > article:nth-child(5) > img {
        width: 200px;height: 220px;
    }
    main > div.row > section#container > div#gallery > article:nth-child(6) > img {
        width: 200px;height: 220px;
    }
    
    main > div.row > section#container > div#gallery > article > h3 {
        display: none;
    }
    main > div.row > section#container > div#gallery > article > img {
        width: 200px;
        height: 100px;
    }
    
    @keyframes vuelta {
        0% {
          transform: scaleX(1);
        }
        50% {
          transform: scaleX(-1);
        }
        100% {
          transform: scaleX(1);
        }
    }
    main > div.row > section#container > div#gallery > article {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: vuelta 5s linear infinite;
    }
    

/*EJERCICIO 5*/
    main > div.row {
        display: grid;
        grid-template-columns: auto;
    }
    main > div.row > aside.col-3 {
        grid-column: 1 / 2;
        background-color: rgb(121,9,9);
        padding: 30px;
    }
    main > div.row > aside.col-3 > section {
        border: 5px solid;
        border-style: dashed;
        border-color: #7f8c8d;
        margin-bottom: 20px;
    }
    main > div.row > aside.col-3 > section > div > div {
        font-family: 'Piedra';
        color: white;
        
        display: flex;
        align-items: center;
        padding-left: 28px;
    }
    
    main > div.row > aside.col-3 > section:nth-child(1) > div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        height: 250px;
    }
    main > div.row > aside.col-3 > section:nth-child(2) > div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        height: 250px;
    }
    main > div.row > aside.col-3 > section:nth-child(3) > div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        height: 170px;
    }
    main > div.row > aside.col-3 > section:nth-child(4) > div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        height: 170px;
    }
    main > div.row > aside.col-3 > section:nth-child(5) > div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        height: 170px;
    }
    
    main > div.row > aside.col-3 > section > div > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-image: url(../img/gallery/ca1.jpg);
        background-size: cover;
        background-position: center;
    }
    main > div.row > aside.col-3 > section > div > div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-image: url(../img/gallery/ca2.jpg);
        background-size: cover;
        background-position: center;
    }
    main > div.row > aside.col-3 > section > div > div:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        background-image: url(../img/gallery/ca3.jpg);
        background-size: cover;
        background-position: center;
    }
    main > div.row > aside.col-3 > section > div > div:nth-child(4) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        background-image: url(../img/gallery/ca4.jpg);
        background-size: cover;
        background-position: center;
    }
    main > div.row > aside.col-3 > section > div > div:nth-child(5) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        background-image: url(../img/gallery/ca4.jpg);
        background-size: cover;
        background-position: center;
    }
}