/* Exercici 1 - GENERAL */
@font-face {
    font-family: 'Sriracha';
    src: url(/Sriracha/Sriracha-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: #485460;
    font-family: 'Sriracha';
    width: 100%;
}

/* Exercici 2 - LOGO */
@font-face {
    font-family: 'Piedra';
    src: url(/Piedra/Piedra-Regular.ttf);
}

.col-12 {
    font-family: 'Piedra';
    color: #d50000;
    text-shadow: 10px 20px 30px white;
    text-align: right;
    margin-right: 20px;
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.5em;
}

/* Exercici 4 - MENÚ */
.col-8 {
    background: radial-gradient(circle, white, rgb(121,9,9)35%);
}

.row .col-8 ul {
    margin-left: 10px;
}

.col-8 ul li a {
    margin: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.col-8 ul li a:hover {
    background-color: #ff5131;
}

.col-8 li:hover > ul {
    display: block;
}
.col-8 a + ul {
    display: none;
}
.col-8 li:hover > a {
    text-decoration: none;
}
.col-8 a + ul > li {
    display: block;
}
.col-8 ul li:nth-child(2) ul:nth-child(1) {
    margin-top: 28px
}

/* Exercici 5 - SIDEBAR */ /*GRID*/ 
/*PREGUNTAR SOBRE EL ASIDE*/
.col-3 {
    background-color: rgb(121,9,9);
    padding: 30px;

    display: grid;
    grid-template-columns: auto;
    grid-template-areas: auto auto;
}
.col-3 > section {
    border: 5px solid;
    border-style: dashed;
    border-color: #7f8c8d;
    margin-bottom: 20px;
}

/* Exercici 6 - CONTAINER */ /*FLEX*/
.row > .col-9 yellow > #gallery {
    background-color: #9b0000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;

    display: flex;
    flex-direction: row;
}
/*PONER IMAGENES EN BLANCO Y NEGRO*/
.row > .col-9 yellow > #gallery > article > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Exercici 7 - INFINITE DOG */
/*NO HAY NADA DEL PERRO EN EL HTML*/

/* Exercici 3 - LAYOUT RESPONSIVE */
